<div layout="column" class="widget-grid panel-nobox zone">
    <h3>V3.6.39 2020/12/13</h3>
    <b>Vendor Sales Orders:</b><br>
    New Program added to the system.<br>
    <b>Customer Price Discrepancy Rpt:</b><br>
    New Program added to the system.<br>
    
    <h3>V3.6.38 2020/12/11</h3>
    <b>Item Maintenance:</b><br>
    When searching item number will now take non-numeric characters.<br>
    <b>Physical Inventory Post:</b><br>
    When you open the program, the program will be ready to 'Complete' the inventory. <br>
    <b>Salesmen Sales Orders:</b><br>
    New Program added to the system.<br>

    <h3>V3.6.37 2020/12/09</h3>
    <b>Cash Register:</b><br>
    Does not hide price when having more items that can fit on screen.<br>
    <b>Item Maintenance:</b><br>
    Fixed problem adding multiple vendors to an item.<br>
    <b>Physical Inventory Post:</b><br>
    Fixed problem with inventory that would show 0 sometimes after posting.<br>

    <h3>V3.6.35 2020/08/29</h3>
    <b>On-Line Orders:</b><br>
    Tax includes shipping now. Order list shows tax amout.<br>
    
    <h3>V3.6.33 2020/08/28</h3>
    <b>On-Line Orders:</b><br>
    Shipping Addeed.<br>

    <h3>V3.6.33 2020/08/28</h3>
    <b>Inventory Valuation Report:</b><br>
    New Program added to the system.<br>

    <h3>V3.6.32 2020/08/28</h3>
    <b>Tax Rates:</b><br>
    Migrated to new system.<br>
    <b>On-Line Sales Order Entry:</b><br>
    New Program added to the system.<br>

    <h3>V3.6.31 2020/08/27</h3>
    <b>Employee Time Clock:</b><br>
    Now displays the server time regardless of the time on the local PC.<br>
    <b>Price Check:</b><br>
    Now clears the screen when not in use between 2 and 4 seconds.<br>
    
    <h3>V3.6.30 2020/08/26</h3>
    <b>Program Rights:</b><br>
    Items can be order properly.<br>
    
    <h3>V3.6.29 2020/08/26</h3>
    <b>Inventory Work Report:</b><br>
    New Program added to the system.<br>
    <h3>V3.6.28 2020/08/26</h3>
    <b>Inventory Transfer Discrepancy Report:</b><br>
    New Program added to the system.<br>

    <h3>V3.6.27 2020/08/25</h3>
    <b>User Maintenance:</b><br>
    Migrated to new system.<br>
    <b>Inventory Adjustment:</b><br>
    Migrated to new system.<br>
    <b>Inventory Transfer-OUT:</b><br>
    New Program added to the system.<br>
    <b>Inventory-To-PRODUCTION:</b><br>
    New Program added to the system.<br>
    <b>Production-To-INVENTORY:</b><br>
    New Program added to the system.<br>
    <b>Inventory Transfer-IN:</b><br>
    New Program added to the system.<br>
    <b>Physical Inventory Entry:</b><br>
    New Program added to the system.<br>
    <b>Physical Inventory Post:</b><br>
    New Program added to the system.<br>
    <b>Inventory Discrepancy Report:</b><br>
    New Program added to the system.<br>
    <b>Cash Drawer Maitenance:</b><br>
    Now displays total amounts.<br>

    <h3>V3.6.26 2020/08/24</h3>
    <b>Sales Order:</b><br>
    Allows payment for Invoiced orders now.<br>
    
    <h3>V3.6.25 2020/08/23</h3>
    Database changes for Inventory.<br>

    <h3>V3.6.24 2020/08/21</h3>
    <b>PO Receiving:</b><br>
    Keypad is now used to change Quantity.<br>
    <b>Cash Register:</b><br>
    Now can void an existing order.<br>
    <b>All Reports:</b><br>
    Fixed problem showing logon screen.<br>

    <h3>V3.6.23 2020/08/20</h3>
    <b>Improve update logic-service used in all entry screens</b><br>
    
    <h3>V3.6.22 2020/08/19</h3>
    <b>Some Reports not Opening:</b><br>
    Fixed regression due to changes on routing for the application.<br>
    <b>Cash Drawer Maintenance:</b><br>
    New Program added to the system.<br>
    
    <h3>V3.6.21 2020/08/18</h3>
    <b>Price Check:</b><br>
    Standalone Screen for price check added.<br>
    
    <h3>V3.6.20 2020/08/18</h3>
    <b>Cash Register:</b><br>
    Will prompt to make a deposit if drawer amount from company maintenance is exceded.<br>
    <b>Item Reassign:</b><br>
    Migrated to new system.<br>
   
    <h3>V3.6.19 2020/08/16</h3>
    <b>Price Check:</b><br>
    Clears on next scan item even if invalid, and selects invalid text.<br>
    <b>Main Menu:</b><br>
    Automatically hides when opening a program now.<br>
    <b>Company Maintenance:</b><br>
    Migrated to new system.<br>

    <h3>V3.6.18 2020/08/14</h3>
    <b>Sales Order Entry:</b><br>
    Fixed regression on Payment button.<br>

    <h3>V3.6.17 2020/08/13</h3>
    <b>Price Check:</b><br>
    Added Feature to Upload Item Image.<br>
    <b>Item Movement Report:</b><br>
    Migrated to new system.<br>
    <b>Item Sales Report:</b><br>
    Migrated to new system.<br>

    <h3>V3.6.16 2020/08/12</h3>
    <b>System Upgrade:</b><br>
    Framework Updated from Angular 6.0 to 10.0<br>
    <b>Inventory Maintenance:</b><br>
    Fix problem updating record even when nothing was changed.<br>
    <b>Vendor Maintenance:</b><br>
    Migrated to new system.<br>
    <b>Customer Aging Report:</b><br>
    Migrated to new system.<br>
    <b>Sales Order Report:</b><br>
    Migrated to new system.<br>
    <b>Reopen Invoice:</b><br>
    Migrated to new system.<br>
    <b>Cash Register Sales Report:</b><br>
    Migrated to new system.<br>
    <b>Price Check:</b><br>
    Now displays product image.<br>
    <b>Cash Register:</b><br>
    Fix to invalid item showing error message all the time.<br>
    Now displays product image.<br>

    <h3>V3.5.14 2019/09/03</h3>
    <b>Customer Sales By Items Report:</b><br>
    Added option to export report to Excel sheet.<br>
    <b>Inventory Movement Report:</b><br>
    Added option to export category and subcategory as well as filtering by subcategory.<br>
    Added report to new version.<br>

    <h3>V3.5.13 2019/08/30</h3>
    <b>Sales Order Entry:</b><br>
    SHIP DATE and PO NUMBER are now required.<br>

    <h3>V3.5.12 2019/08/29</h3>
    <b>Employee Hours Report:</b><br>
    Now it adds seconds to total time.<br>
    <b>Customer Sales By Items Report:</b><br>
    New report added listing by item.<br>

    <h3>V3.5.11 2019/05/16</h3>
    <b>Employee Time Clock:</b><br>
    40 Hrs. Limit temporarily removed. No need to Override even after 40 hrs overtime.<br>

    <h3>V3.5.10 2019/05/04</h3>
    <b>Employee Maintenance:</b><br>
    Save function is now controlled by Program Rights.<br>
    <b>Item Maintenance:</b><br>
    Subcategory was added again.<br>
    <b>Salesman Maintenance:</b><br>
    Added to new system.<br>
    <b>Department Maintenance:</b><br>
    Added to new system.<br>
    <b>Salesmen Inventory:</b><br>
    New program added to system.<br>


    <h3>V3.5.9 2018/10/16</h3>
    <b>System:</b><br>
    Set time to retry every 1/2 seconds instead of immidiately whenever server is not found.<br>
    <h3>V3.5.8 2018/10/13</h3>
    <b>System:</b><br>
    When application did not find the server it will show an error. Now it will retry 15 times before showing error.<br>

    <h3>V3.5.7 2018/10/12</h3>
    <b>Sales Order Entry:</b><br>
    Regression bug, not able to invoice open orders fixed.

    <h3>V3.5.6 2018/10/11</h3>
    <b>Cash Register:</b><br>
    Fix issue clicking Payment and nothing happening.<br>
    <b>Sales Order Entry:</b><br>
    Invoice Date can now be modified.<br>

    <h3>V3.5.5 2018/10/11</h3>
    <b>Purchase Order Entry:</b><br>
    Reference added to Order List.<br>
    <b>Purchase Order Receiving:</b><br>
    Now shows more space to display items.<br>

    <h3>V3.5.4 2018/09/27</h3>
    <b>Sales Order:</b><br>
    Paypal payment added to Cash Register.<br>
    Invalid Item message now shows in RED taking longer to go away.<br>
    <b>All Sales Reports:</b><br>
    Will include Paypal as Credit Card payments.<br>
    <b>Purchase Order Entry:</b><br>
    Added to new system.<br>
    Show Recieve Balance Button added, usefull before completing the PO.<br>
    Added Payments.<br>
    <b>Purchase Order Payment History:</b><br>
    Added to new system.<br>

    <h3>V3.5.3 2018/09/11</h3>
    <b>Code Maintenance:</b><br>
    Added to new system.<br>
    <b>Program Rights:</b><br>
    Added to new system.<br>
    <b>Item Maintenance:</b><br>
    Checkbox fields are now displayed by default.<br>
    <b>Sales Order Entry:</b><br>
    Items are now added to bottom.<br>
    <b>Price Check:</b><br>
    Added button to clear screen.<br>
    <h3>V3.4.3 2018/05/02</h3>
    <b>Cash Register:</b><br> 
    Orders are now saved with the proper flag to display on Sales Order Report<br>
    Related items now displays 'Each' column<br>

    <h3>V3.4.2 2018/01/17</h3>
    <b>Employee Maintenance:</b><br> 
    Active Employee List Report option added.<br>
    <h3>V3.4.0 2018/01/17</h3>
    <b>Main Menu:</b><br>
    Price Check feature added globaly.<br>
    <b>Cash Register:</b><br>
    New Touch interface improved.<br>
    Items will show red when Markup % below minimun.<br>
    Returns now require a negative payment.<br>
    <b>Sales Order Entry:</b><br>
    Added Item Options to replace a newly entered Item.<br>
    For admin, an option to open Item Maintenance for current selected item.<br>
    @unit column is now displayed on the details.<br>
    <b>Item Maintenance:</b><br>
    Items will show red when Markup % below minimun.<br>
    <h3>V3.3.0 2018/01/15</h3>
    <b>Main Menu:</b><br>
    Side Navigation no longer takes space on main window allowing more space for entry.<br>
    <b>Employee Time Clock:</b><br>
    keypad now has backspace key.<br>
    Keypad was added to Admin Override input.<br>
    <b>Customer Maintenance:</b><br>
    Customer Items are now displayed by description, on screen, list, and Price List report.<br>
    <b>Sales Order Entry:</b><br>
    Adding Favorites now updates 'Price' for existing items.<br>
    Item Weight is now displayed properly when adding items.<br>
    Replacing Customer now requires to confirm.<br>
    Payments now use the touch interface instead of a grid-list.<br>
    Items show warning if Price = 0 or Price below Company-Min-Markup %<br>
    <h3>V3.2.0 2018/01/08</h3>
    <b>Item Maintenance:</b><br>
    Item List can be exported to Excel.<br>
    Item Units can have an image.<br>
    <b>Customer Maintenance:</b><br>
    Added Markup % Column.<br>
    Customer List can be exported to Excel.<br>
    Favorite Items show warning if Price = 0 or Markup % below Company-Min-Markup %<br>
    Customer Item List Report was change to portrait instead of landscape.<br>
    <h3>V3.1.1 2018/01/02</h3>
    <b>Item Maintenance:</b><br>
    Markup % is now calculated using: sale-price - sales-base-price / sale-price.<br> 
    <h3>V3.1.0 2018/01/02</h3>
    <b>Item Maintenance:</b><br>
    Item list can be filtered.<br> 
    Sub Category was removed from display.<br>
    Checks if changes were made before adding or retrieving an Item.<br>
    Markup % was added to Item Units grid. Price or Markup can be calculated automtically<br>
    View Customer Pricing added to Item Units. Allows to see what price was given to other customers.<br>
    <b>Employee Maintenance:</b><br> 
    Employee list after unchecking Active-Only was not searching.<br>
    <h3>V3.0.0 2017/12/28</h3>
    <b>Employee Time Clock:</b><br>
    New touch interface. Uses time from Server instead of local PC. Messages are more obvious when clocking in/out.<br>
    <b>Employee Maintenance:</b><br> 
    Employee list can be filtered. Active flag added to list. Hour details have a retrieval options to make it faster. Adding new hours now appear at the top.<br>
    <b>Pay Period Maintenance:</b><br> 
    Adding new periods now appear at the top.<br>
    <b>Employee Hours Report:</b><br> 
    Employee list now show active employees only.<br>
</div>