/* Selected state colors */
.wj-state-multi-selected {
    background-color: #606060;
    color: #fff;
}

/* input controls with class form-control */
.mwj-form-control {
    padding: .126rem .5rem !important;
}

/* input controls with class form-control */
.mwj-form-control-focus {
    /* color: #495057;
    background-color: #fff;
    border-color: #80bdff; */
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

 /* Align it properly */
.wj-input-group-btn {
    vertical-align: middle!important;
}